<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
    <div class="header">
        <h1>Cuenta</h1>
    </div>
    <div class="contenedor-datos">
        <input type="text" placeholder="Nombres">
        <input type="text" placeholder="Apellidos">
        <input type="text" placeholder="Correo">
        <input type="text" placeholder="Telefono">
        <input type="button" value="Cambiar Datos" class="btn">
    </div>
</body>
</html>