<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
    <div class="contenedor-logo-escrito">
        <img class="logo-escrito-grande" src="../static/CSG.png"/>     
    </div>
    <div class="contenedor-logo">
        <img src="../static/error.png"/>
        <p>************************************</p>
    </div>
    <div class="footer">
        <div class="triangulo">
            <img class="imagen-pequeña" src="../static/Logo.png"/>
        </div>
    </div>
</body>
</html>