<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>informacion de contacto</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a class="btn" href="../Templates/inicio-sesion.html">Iniciar Sesion</a></li>
                <li><a class="btn" href="../Templates/galeria.html">Galeria</a></li>
                <li><a class="btn" href="../Templates/informacion-de-contacto.html">Contacto</a></li>
            </ul>
            <img class="logo-escrito" src="../static/CSG.png">
        </nav>
    </header>
    <div class="informacion-de-contacto">
        <div class="informacion">
            <p>calle ** # ** - **</p>
        </div>
        <div class="informacion">
            <p> 315 785 ****</p>
        </div>
        <div class="informacion">
            <p> csgEnvios@gmail.com</p>
        </div>
        <div class="redes">
            <a href="https://www.facebook.com">
                <img class="redes-foto" src="../static/facebook.png">
            </a>
            <a href="https://www.twitter.com">
            <img class="redes-foto" src="../static/twitter.png">
            </a>
            <a href="https://www.instagram.com/">
                <img class="redes-foto" src="../static/Instagram.png">
            </a>
        </div>
        <div class="triangulo">
            <img class="imagen" src="static/CSG.png"/>
        </div>
    </div>
</body>
</html>