<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Sesion</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
    <div class="contenedor-formulario">
        <div class="header-formulario">
            <p>Ingresar</p>
            <img class="logo-escrito" src="../static/CSG.png">
        </div>
        <form class="formulario">
            <label>Usuario</label>
            <input type="text">
            <label>Contraseña</label>
            <input type="password">
            <a href="../menu-principal.html"><input id="btn-ingresar" type="button" value="Ingresa"></a>
            <a href="registrarse.html"><input id="btn-registrarse" type="button" value="Registrarse"></a>
        </form>
    </div>
    <div class="footer">
        <div class="triangulo">
            <img class="imagen-pequeña" src="../static/Logo.png"/>
        </div>
    </div>
</body>
</html>