<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
</head>
<body>
    <div class="contenedor-formulario">
        <div class="header-formulario">
            <p>Registrarse</p>
            <img class="logo-escrito" src="../static/CSG.png">
        </div>
        <form class="formulario">
            <label> Nombre</label>
            <input type="text">
            <label>Apellido</label>
            <input type="text">
            <label>Correo</label>
            <input type="text">
            <label>Telefono de contacto</label>
            <input type="number">
            <label>Usuario</label>
            <input type="text">
            <label>Contraseña</label>
            <input type="password">
            <input type="password">
        </form>
    </div>
</body>
</html>